@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.9')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.9')
      format('woff');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.9')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Medium.woff?v=3.9')
      format('woff');
}

:root {
  --color-blue: #18a0fb;
  --color-black: #333;
}

body {
  font-family: Inter, sans-serif;
  font-size: 11px;
  margin: 0;
}

h3 {
  width: 100%;
  font-weight: 600;
  margin: 16px 0;
  font-size: 11px;
  // padding: 9.5px 0
}

p {
  margin-bottom: 16px;
}

.search-input {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e5e5e5;
  backface-visibility: hidden;
}

main {
  padding-bottom: 8px;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 8px;
}

footer {
  margin-top: 8px;
  padding: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-link {
    color: inherit;
  }
}

.container {
  padding: 0 8px;
}

section {
  padding: 0 16px;
}

.floating {
  position: absolute;
  bottom: -10px;
  left: 0;
  padding: 10px;
  background: blue;
}

.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.lucide-logo {
  width: 160px;
}

.version {
  margin-top: 8px;
  padding: 8px;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.link-list {
  width: 160px;
  margin: 0 auto;
  padding-top: 24px;
}

.info-link {
  color: var(--color-blue);
  display: block;
  padding: 2px 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  font-family: Inter, sans-serif;
  font-weight: 500;
  display: block;
  text-align: center;
  flex-shrink: 0;
  max-width: 200px;
  padding: 8px 12px;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: default;
  user-select: none;
  border-color: transparent;
  background-clip: border-box;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.contained {
    color: #fff;
    background-color: #0c8ce9;

    &:hover {
      background-color: #0f6eb3;
    }
  }

  &.outlined {
    background-color: transparent;
    color: var(--color-text, #333333);
    border: 1px solid var(--color-text, #333333);
  }
}
